.App {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.App-header {
  width: 100%;
  background-color: #93abd3;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: space-around;
  font-size: 2rem;
  margin: 2rem auto;
  padding: 2rem;
  color: white;
}

.searchBar {
  width: 100%;
  margin: auto;
}

.searchBar input {
  padding: 0.75rem;
  font-size: 1.2rem;
  border-radius: 5%;
}

.favourites {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.allBabyNames {
  width: 100%;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionDivide {
  width: 100%;
  border: 1px solid #93abd3;
  margin-top: 2rem;
}

.name {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10%;
}

.female {
  background-color: #87ebb7;
  color: #0f061f;
}

.male {
  background-color: #8548f0;
  color: #d3f3e2;
}
